In [1]:
import seaborn as sns
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
heart = pd.read_csv('/Users/antoniobaio/Desktop/Progetti/ProgettiDS/statsmodel/Classificazione_clustering/Heart Attack/dataset/heart.csv')
heart.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
heart.shape

(303, 14)

In [4]:
heart.drop_duplicates(keep='first', inplace=True)

In [5]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(heart, test_size=0.2, random_state=42)

In [6]:
from pycaret.classification import *
data = setup(train, target = 'output', normalize=True, test_data=test, session_id = 1999)

In [8]:
svm = create_model('rbfsvm')
evaluate_model(svm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [ ]:
plot_model(svm, plot = 'confusion_matrix')
plot_model(svm, plot = 'pr')
plot_model(svm, plot = 'auc')

In [9]:
predict_model(svm)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,prediction_label,prediction_score
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0,0,0.9457
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3,0,0,0.6592
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1,1,0.8431
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1,0,0,0.8130
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1,1,0.8748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0,0,0.9394
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1,1,0.9503
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0,0,0.8404
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0,0,0.5778
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2,0,0,0.5070

In [18]:
rf = create_model('rf')
evaluate_model(rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [19]:
predict_model(rf)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,prediction_label,prediction_score
180,55,1,0,132,353,0,1,132,1,1.2,1,1,3,0,0,0.98
229,64,1,2,125,309,0,1,131,1,1.8,1,0,3,0,0,0.64
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1,1,0.51
247,66,1,1,160,246,0,1,120,1,0.0,1,3,1,0,0,0.69
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1,1,0.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3,0,0,0.96
104,50,1,2,129,196,0,1,163,0,0.0,2,0,2,1,1,0.98
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0,0,0.96
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0,1,0.54
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2,0,0,0.71

In [7]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              17:12:01
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [10]:
predictions = predict_model(best, data=heart)
predictions.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,prediction_label,prediction_score
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0,0.8797
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,0.9915
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,1,0.9974
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,1,0.9917
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,1,0.9423

In [12]:
from pycaret.regression import *
regression = setup(heart, target = 'output', session_id = 123)

In [13]:
best = compare_models()

In [14]:
print(best)

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='squared_error',
                    max_depth=None, max_features=1.0, max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                    oob_score=False, random_state=123, verbose=0,
                    warm_start=False)

In [15]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…